@media (min-width: 1024px) {
  .about-company {
    width: 984px;
    position: relative;
    margin-left: 555px;
    margin-bottom: 110px;
    margin-top: 73px;

    h2 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 36px;
      line-height: 51px;
      color: #666666;
      margin: 0;
    }

    p {
      margin: 0;
      margin-top: 21px;
      font-family: $PT-Mono;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
    }

    .about-company__button {
      margin-top: 38px;
      width: 180px;
      height: 45px;
      box-sizing: border-box;
      background-color: #ffffff;
      border: 1px solid $main-blue;
      color: $main-blue;
      border-radius: 5px;
      font-family: $roboto-bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -210px;
      top: 5px;
      width: 220px;
      height: 317px;
      transform: rotate(90);
      background: url("../img/about-company-2005@1x.png") no-repeat;
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    .about-company {
      width: 730px;
      margin-left: 250px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-company {
    width: 532px;
    position: relative;
    margin-left: 209px;
    padding-bottom: 85px;

    h2 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 32px;
      line-height: 45px;
      color: #666666;
      margin: 0;
      margin-top: 26px;
    }

    p {
      margin: 0;
      margin-top: 18px;
      font-family: $PT-Mono;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      margin-left: 5px;
      margin-top: 25px;
    }

    span {
      display: none;
      &::after {
        content: "..";
        display: block;
      }
    }

    .about-company__second-part-description {
      p {
        margin-top: 20px;
      }
    }

    .about-company__button {
      margin-top: 40px;
      margin-left: 5px;
      width: 180px;
      height: 45px;
      box-sizing: border-box;
      background-color: #ffffff;
      border: 1px solid $main-blue;
      color: $main-blue;
      border-radius: 5px;
      font-family: $roboto-bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -217px;
      width: 251px;
      height: 362px;
      transform: rotate(90);
      background: url("../img/about-company-2005@1x.png") no-repeat 0 0 / cover;
    }
  }
}

@media (max-width: 767px) {
  .about-company {
    width: 288px;
    margin: 0 auto;

    h2 {
      font-family: $roboto;
      font-size: 28px;
      line-height: 39px;
      color: #666666;
      margin: 0;
    }

    p {
      margin: 0;
      margin-top: 18px;
      font-family: $PT-Mono;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
    }

    .about-company__button {
      margin-top: 30px;
      width: 180px;
      height: 45px;
      box-sizing: border-box;
      background-color: #ffffff;
      border: 1px solid $main-blue;
      color: $main-blue;
      border-radius: 5px;
      font-family: $roboto-bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}
