@media (min-width: 1024px) {
  .contacts {
    display: flex;
    width: 565px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 100px;
  }

  .contacts__email,
  .contacts__phone {
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: rgb(255, 165, 0);
      cursor: pointer;
    }
  }

  .contacts__email {
    position: relative;
    margin-left: 42px;
    margin-top: 3px;

    svg {
      position: absolute;
      left: -41px;
      top: -1px;
    }
  }

  .contacts__phone {
    position: relative;
    margin-right: 17px;
    margin-top: 3px;

    svg {
      position: absolute;
      left: -37px;
      top: -3px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-left: 105px;
    margin-right: 115px;
    margin-top: 21px;
    margin-bottom: 100px;
  }

  .contacts__email,
  .contacts__phone {
    font-family: $font;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: rgb(255, 165, 0);
      cursor: pointer;
    }
  }

  .contacts__email {
    margin-right: 92.5px;
    position: relative;
    left: 40px;
    top: 0;

    svg {
      position: absolute;
      left: -40px;
      top: 2px;
    }
  }

  .contacts__phone {
    margin-top: 4px;
    position: relative;

    svg {
      position: absolute;
      left: -39px;
      top: -6px;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-top: 31px;
    margin-bottom: 50px;
  }

  .contacts__email,
  .contacts__phone {
    font-family: $font;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover,
    &:focus {
      color: rgb(255, 165, 0);
      cursor: pointer;
    }
  }

  .contacts__email {
    margin: 0 auto;
    left: 24px;
    top: 0;
    position: relative;

    svg {
      position: absolute;
      left: -41px;
      top: -1px;
    }
  }

  .contacts__phone {
    margin: 0 auto;
    margin-top: 28px;
    position: relative;
    left: 12px;
    top: 1px;

    svg {
      position: absolute;
      top: -4.5px;
      left: -37px;
    }
  }
}
