@media (min-width: 1024px) {
  .contacts {
    min-width: 622px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 45px;
  }

  .contacts__email,
  .contacts__phone {
    font-family: $PT-Mono;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    margin-top: 17px;

    &:hover,
    &:focus {
      color: $main-blue;

      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 15px;
      background: url("../img/icon-email.svg") no-repeat;
      object-fit: fill;
      position: absolute;
      left: -38px;
      top: 2px;
    }
  }

  .contacts__phone {
    margin-left: 75px;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background: url("../img/icon-phone.svg") no-repeat;
      object-fit: fill;
      position: absolute;
      left: -34px;
    }
  }

  .contacts__order-call {
    width: 180px;
    height: 45px;
    padding: 0;
    padding-top: 15px;
    margin-right: 1px;
    box-sizing: border-box;
    margin-top: 4px;
    border: 1px solid #ffffff;
    background: none;
    font-family: $roboto-bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $main-blue;
      border: 1px solid $main-blue;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts__email,
  .contacts__phone {
    font-size: 0;
    display: flex;

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 19px;
      background: url("../img/icon-email.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 35px;
      right: 80px;
    }
  }

  .contacts__phone {
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/icon-phone.svg") no-repeat;
      background-size: cover;
      position: absolute;
      top: 32px;
      right: 23px;
    }
  }

  .contacts__order-call {
    display: none;
  }
}


@media (max-width: 767px) {
  .contacts__email,
  .contacts__phone {
    font-size: 0;
    display: flex;

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 19px;
      background: url("../img/icon-email.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 25px;
      right: 62.5px;
    }
  }

  .contacts__phone {
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/icon-phone.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 22px;
      right: 16px;
    }
  }

  .contacts__order-call {
    display: none;
  }
}
