@media (min-width: 1024px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 40px;
    width: 430px;
  }

  .contacts__email,
  .contacts__phone {
    font-family: $PT-Mono;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    margin-top: 17px;

    &:hover,
    &:focus {
      color: $main-blue;

      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    min-width: 130px;
    display: flex;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 15px;
      background: url("../img/icon-email.svg") no-repeat;
      margin-right: 20px;
      margin-top: 2px;
    }
  }

  .contacts__phone {
    display: flex;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background: url("../img/icon-phone.svg") no-repeat;
      margin-right: 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts__email,
  .contacts__phone {
    font-size: 0;
    display: flex;

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 19px;
      background: url("../img/icon-email.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 35px;
      right: 80px;
    }
  }

  .contacts__phone {
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/icon-phone.svg") no-repeat;
      background-size: cover;
      position: absolute;
      top: 32px;
      right: 23px;
    }
  }
}


@media (max-width: 767px) {
  .contacts__email,
  .contacts__phone {
    font-size: 0;
    display: flex;

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
      }
    }
  }

  .contacts__email {
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 19px;
      background: url("../img/icon-email.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 25px;
      right: 62.5px;
    }
  }

  .contacts__phone {
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/icon-phone.svg") no-repeat 0 0 / cover;
      position: absolute;
      top: 22px;
      right: 16px;
    }
  }
}
