.form {
  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
  }

  legend {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: $roboto;
  }

  span {
    font-family: $PT-Mono;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  input {
    display: block;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: $PT-Mono;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding-left: 17px;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  textarea {
    display: block;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: $PT-Mono;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    resize: none;
    padding-left: 17px;
    padding-top: 12px;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  button {
    border: 1px solid #ffffff;
    background: none;
    font-family: $roboto-bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    padding-right: 6px;

    &:hover,
    &:focus {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  label {
    font-family: $PT-Mono;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.8;
  }
}

.form__checkbox {
  width: 290px;

  input {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 295px;
    left: 289px;
    opacity: 0;
  }

  label {
    display: flex;
    position: relative;
    top: 53px;
    left: 59px;
    width: 200px;

    &:hover,
    &:focus {
      color: #30313a;
      cursor: pointer;
    }
  }

  input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: -32px;
  }

  input[type="checkbox"]:checked + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: -32px;
    background: url("../img/icon-check.svg") no-repeat center;
  }
}

@media (min-width: 1024px) {
  .form {
    padding-top: 92px;
    padding-bottom: 113px;
    background: url("../img/paper-plane@1x.png") no-repeat 350px 161px,
      url("../img/triangle-with-dots-background.svg") no-repeat 249px 95px,
      url("../img/small-triangle-with-dots-background.svg") no-repeat 197px 292px / 330px 292px,
      $main-blue;

    fieldset {
      width: 570px;
      padding: 0;
      margin-left: 10px;
      position: relative;
      left: 50%;
    }

    legend {
      font-size: 36px;
      line-height: 51px;
    }

    span {
      margin-top: 10px;
      margin-left: 5px;
    }

    input {
      width: 270px;
      height: 50px;
      margin-top: 50px;
      margin-left: 5px;
    }

    textarea {
      width: 570px;
      height: 154px;
      margin-top: 40px;
      margin-left: 5px;
    }

    button {
      width: 270px;
      height: 45px;
      margin-top: 44px;
      margin-left: 5px;
    }
  }

  .form__checkbox {
    input {
      top: 295px;
      left: 305px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .form {
      padding-top: 92px;
      padding-bottom: 113px;
      background: url("../img/paper-plane@1x.png") no-repeat 100px 161px / 25% 25%,
        url("../img/triangle-with-dots-background.svg") no-repeat 100px 95px,
        url("../img/small-triangle-with-dots-background.svg") no-repeat 60px 292px / 330px 292px,
        $main-blue;

      fieldset {
        width: 470px;
        left: 35%;
      }
    }

    @media (min-resolution: 2dppx) {
      .form {
        padding-top: 92px;
        padding-bottom: 113px;
        background: url("../img/paper-plane@2x.png") no-repeat 100px 161px / 25% 25%,
          url("../img/triangle-with-dots-background.svg") no-repeat 100px 95px,
          url("../img/small-triangle-with-dots-background.svg") no-repeat 60px 292px / 300px 262px,
          $main-blue;
      }
    }
  }

  @media (min-width: 1281px) and (max-width: 1440px) {
    .form {
      padding-top: 92px;
      padding-bottom: 113px;
      background: url("../img/paper-plane@1x.png") no-repeat 150px 161px / 30% 30%,
        url("../img/triangle-with-dots-background.svg") no-repeat 100px 95px,
        url("../img/small-triangle-with-dots-background.svg") no-repeat 60px 292px / 330px 292px,
        $main-blue;
    }

    @media (min-resolution: 2dppx) {
      .form {
        padding-top: 92px;
        padding-bottom: 113px;
        background: url("../img/paper-plane@2x.png") no-repeat 150px 161px / 30% 30%,
          url("../img/triangle-with-dots-background.svg") no-repeat 100px 95px,
          url("../img/small-triangle-with-dots-background.svg") no-repeat 60px 292px / 330px 292px,
          $main-blue;
      }
    }
  }

  @media (min-width: 1441px) and (max-width: 1701px) {
    .form {
      padding-top: 92px;
      padding-bottom: 113px;
      background: url("../img/paper-plane@1x.png") no-repeat 250px 161px / 30% 30%,
        url("../img/triangle-with-dots-background.svg") no-repeat 149px 95px,
        url("../img/small-triangle-with-dots-background.svg") no-repeat 97px 292px / 330px 292px,
        $main-blue;
    }

    @media (min-resolution: 2dppx) {
      .form {
        padding-top: 92px;
        padding-bottom: 113px;
        background: url("../img/paper-plane@2x.png") no-repeat 250px 161px / 30% 30%,
          url("../img/triangle-with-dots-background.svg") no-repeat 149px 95px,
          url("../img/small-triangle-with-dots-background.svg") no-repeat 97px 292px / 330px 292px,
          $main-blue;
      }
    }
  }

  @media (min-width: 1702px) {
    @media (min-resolution: 2dppx) {
      .form {
        padding-top: 92px;
        padding-bottom: 113px;
        background: url("../img/paper-plane@2x.png") no-repeat 350px 161px / 511px 288px,
          url("../img/triangle-with-dots-background.svg") no-repeat 249px 95px,
          url("../img/small-triangle-with-dots-background.svg") no-repeat 197px 292px / 330px 292px,
          $main-blue;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form {
    padding-top: 80px;
    padding-left: 2px;
    padding-bottom: 103px;
    background: $main-blue;

    fieldset {
      width: 597px;
      padding: 0;
      margin: 0 auto;
    }

    legend {
      font-size: 32px;
      line-height: 45px;
    }

    span {
      margin-top: 15px;
      margin-left: 5px;
    }

    input {
      width: 281px;
      height: 51px;
      margin-top: 53px;
      margin-left: 4px;
    }

    textarea {
      width: 590px;
      height: 160px;
      margin-top: 44px;
      margin-left: 5px;
    }

    button {
      width: 280px;
      height: 47px;
      margin-top: 44px;
      margin-left: 6px;
    }

    .form__checkbox {
      position: relative;

      input {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 15px;
        top: 1px;
        opacity: 0;
      }

      label {
        top: 53px;
        left: 52px;
      }

      input[type="checkbox"] + label::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        position: absolute;
        left: -34px;
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    padding: 30px 15px 73px 15px;
    background: $main-blue;

    fieldset {
      flex-direction: column;
      padding: 0;
      margin: 0 auto;
    }

    legend {
      font-size: 28px;
      line-height: 39px;
      width: 243px;
    }

    span {
      margin-top: 12px;
      width: 269px;
    }

    input {
      width: 100%;
      height: 52px;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
      height: 104px;
      margin-top: 25px;
    }

    button {
      width: 100%;
      height: 47px;
      margin-top: 30px;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
    }

    .form__checkbox {
      width: 250px;
      position: relative;

      input {
        width: 16px;
        height: 16px;
        position: absolute;
        left: -4px;
        top: 6px;
        opacity: 0;
      }

      label {
        top: 31px;
        left: 33px;
      }
    }
  }

  @media (min-width: 350px) and (max-width: 767px) {
    .form__checkbox {
      margin: 0 auto;
    }
  }
}
