@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1410px;
    margin: 0 auto;
    padding: 33px;
  }

  .header__logo-big {
    margin-left: -2px;
  }

  .header__logo-small {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 25px 0 25px;
  }

  .header__logo-small {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 17px 0 17px;
  }

  .header__logo-big {
    display: none;
  }

  .header__logo-small {
    display: block;
  }
}
