@media (min-width: 1024px) {
  .main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 65px 255px 57px 252px;
  }

  .main-info__logo-and-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 220px;

    h2 {
      font-family: $roboto-bold;
      font-size: 25px;
      line-height: 29px;
      color: #203c42;
      margin: 0;
      margin-top: 6px;
      display: flex;
      flex-direction: column;
    }


    span {
      font-family: $roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.3px;
      color: #788891;
    }

    .main-info__logo {
      width: 52px;
      height: 52px;
    }
  }

  .main-info__text-wrapper {
    margin-right: auto;
    margin-left: 16px;

    span {
      font-family: $roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.85px;
      color: #788891;
    }
  }

  .main-info__social-icons {
    display: flex;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      margin-top: 42px;
    }

    svg {
      margin-right: 14px;
      width: 29px;
      height: 29px;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .main-info__nav {
    margin-right: 150px;

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      margin-left: 2px;
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;
      margin-right: 73px;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100px;
    }
  }

  .main-info__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 25px;
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }
  }

  .main-info__company-info {
    display: none;
  }

  @media (min-width: 1024px) and (max-width: 1101px) {
    .main-info__nav {
      margin-right: auto;

      a {
        margin-right: 20px;
      }
    }

    .main-info {
      padding: 65px 25px 55px 25px;
    }

    .main-info__logo-and-social,
    .main-info__contacts {
      margin-right: 10px;
    }
  }

  @media (min-width: 1101px) and (max-width: 1280px) {
    .main-info {
      padding: 65px 25px 55px 25px;
    }

    .main-info__nav {
      margin-right: 80px;

      a {
        margin-right: 20px;
      }
    }

    .main-info__logo-and-social,
    .main-info__contacts {
      margin-right: 10px;
    }
  }

  @media (min-width: 1281px) and (max-width: 1620px) {
    .main-info {
      padding: 65px 125px 55px 125px;
    }

    .main-info__nav {
      margin-right: 50px;

      a {
        margin-right: 20px;
      }
    }

    .main-info__logo-and-social,
    .main-info__contacts {
      margin-right: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px 23px 35px 25px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: rgba(98, 105, 98, 0.2);
      top: 97px;
      left: 0;
    }
  }

  .main-info__logo-and-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-family: $roboto-bold;
      font-size: 25px;
      line-height: 29px;
      color: #203c42;
      margin: 0;
      margin-top: 6px;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }

    .main-info__logo {
      width: 52px;
      height: 52px;
    }
  }

  .main-info__text-wrapper {
    margin-right: auto;
    margin-left: 16px;

    span {
      font-family: $roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.85px;
      color: #788891;
    }
  }

  .main-info__social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    svg {
      margin-left: 12px;
      width: 29px;
      height: 29px;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .main-info__nav {
    margin-top: 65px;

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      margin-left: 3px;
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .main-info__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 11px;
    margin-top: 65px;

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 24px;
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }
  }

  .main-info__company-info {
    display: block;
    margin-right: 60px;
    margin-top: 17px;

    span {
      font-family: $PT-Mono;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #1b2d37;
      opacity: 0.5;
    }
  }
}

@media (max-width: 767px) {
  .main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-info__logo-and-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 48px;
    padding: 46px 15px 0 15px;

    h2 {
      font-family: $roboto-bold;
      font-size: 25px;
      line-height: 29px;
      color: #203c42;
      margin: 0;
      margin-left: 16px;
      margin-top: 6px;
      display: flex;
      flex-direction: column;
    }

    .main-info__text-wrapper span {
      font-family: $roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.8px;
      color: #788891;
      margin-left: 17px;
    }

    .main-info__logo {
      width: 52px;
      height: 52px;
    }
  }

  .main-info__social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 112px;
    margin-top: 33px;

    svg {
      width: 27px;
      height: 27px;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .main-info__nav {
    width: 100%;
    padding: 28px 15px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: rgba(196, 196, 196, 1);
        position: absolute;
        right: 2px;
        top: 7px;
      }
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &:hover,
    &:focus {
      h3 {
        &::before,
        &::after {
          background: $main-blue;
        }
      }
    }
  }

  .main-info__nav--closed {
    h3 {
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: rgba(196, 196, 196, 1);
        position: absolute;
        right: 2px;
        top: 7px;
      }

      &::before {
        transform: rotate(90deg);
        top: 6.5px;
      }
    }

    ul {
      display: none;
    }

    &:hover,
    &:focus {
      h3 {
        &::before,
        &::after {
          background: $main-blue;
        }
      }
    }
  }

  .main-info__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 28px 25px 26px 15px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);

    h3 {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #1b2d37;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 32px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: rgba(196, 196, 196, 1);
        position: absolute;
        right: -7px;
        top: 6px;
      }
    }

    a {
      font-family: $PT-Mono;
      font-size: 15px;
      line-height: 25px;
      color: #1b2d37;
      opacity: 0.5;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $main-blue;
      }
    }

    &:hover,
    &:focus {
      h3 {
        &::before,
        &::after {
          background: $main-blue;
        }
      }
    }
  }

  .main-info__contacts--closed {
    h3 {
      position: relative;
      margin: 0;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: rgba(196, 196, 196, 1);
        position: absolute;
        right: -8px;
        top: 7px;
      }

      &::before {
        transform: rotate(90deg);
        top: 6.5px;
      }
    }

    a {
      display: none;
    }

    &:hover,
    &:focus {
      h3 {
        &::before,
        &::after {
          background: $main-blue;
        }
      }
    }
  }

  .main-info__company-info {
    display: block;
    margin-top: 25px;

    span {
      font-family: $PT-Mono;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #1b2d37;
      opacity: 0.5;
    }
  }

  .main-info__nav--no-js,
  .main-info__contacts--no-js {
    h3 {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: 350px) and (max-width: 767px) {
    .main-info__logo-and-social {
      width: 290px;
      margin: 0 auto;
      margin-bottom: 53px;
    }
  }
}
