.offer {
  h2 {
    color: #ffffff;
    font-family: $roboto;
    font-weight: normal;
  }

  .offer__item {
    font-family: $roboto;
    font-size: 20px;
    line-height: 30px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  .offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1b2d37;
    padding: 0 375px;
    padding-bottom: 127px;

    h2 {
      width: 100%;
      font-size: 36px;
      line-height: 51px;
      margin-top: 89px;
      margin-bottom: 0;
    }
  }

  .offer__item {
    padding: 52px 160px 0 44px;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    margin-top: 50px;
    width: 370px;
    height: 620px;

    &::after {
      content: "";
      display: block;
      width: 63px;
      height: 63px;
      z-index: 5;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url("../img/icon-arrow.svg") no-repeat center, $main-blue;
    }

    &:hover,
    &:focus {
      &::after {
        width: 163px;
      }
    }
  }

  .offer__item--produce {
    background: url("../img/produce-boards-desktop@1x.png"), #30313a;
  }

  .offer__item--installation {
    background: url("../img/installation-boards-desktop@1x.png"), #30313a;
  }

  .offer__item--light {
    background: url("../img/lighting-engineering-desktop@1x.png"), #30313a;
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .offer {
      padding: 0;
    }

    .offer__item {
      width: 270px;
      margin: 0 15px;
      margin-top: 50px;
      height: 500px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    .offer {
      padding: 0 50px;
      padding-bottom: 77px;
    }
  }

  @media (min-width: 1441px) and (max-width: 1700px) {
    .offer {
      padding: 0 150px;
      padding-bottom: 100px;
    }
  }

  @media (min-width: 1701px) and (max-width: 1900px) {
    .offer {
      padding: 0 275px;
      padding-bottom: 127px;
    }
  }

  @media (min-resolution: 2dppx) {
    .offer__item--produce {
      background: url("../img/produce-boards-desktop@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--installation {
      background: url("../img/installation-boards-desktop@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--light {
      background: url("../img/lighting-engineering-desktop@2x.png") 0 0 / cover, #30313a;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1b2d37;
    padding-left: 26px;
    padding-right: 23px;
    padding-bottom: 32px;

    h2 {
      width: 613px;
      font-size: 32px;
      line-height: 45px;
      margin-top: 50px;
      margin-bottom: 49px;
    }
  }

  .offer__item {
    width: 100%;
    height: 256px;
    z-index: 2;
    position: relative;
    margin-bottom: 46px;
    padding-top: 40px;
    padding-left: 43px;
    padding-right: 525px;

    &::after {
      content: "";
      display: block;
      width: 63px;
      height: 63px;
      z-index: 5;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url("../img/icon-arrow.svg") no-repeat center, $main-blue;
    }

    &:hover,
    &:focus {
      &::after {
        width: 163px;
      }
    }
  }

  .offer__item--produce {
    background: url("../img/produce-boards-tablet@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  .offer__item--installation {
    padding-right: 515px;
    background: url("../img/installation-boards-tablet@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  .offer__item--light {
    padding-top: 50px;
    background: url("../img/lighting-engineering-tablet@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  @media (min-resolution: 2dppx) {
    .offer__item--produce {
      background: url("../img/produce-boards-tablet@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--installation {
      background: url("../img/installation-boards-tablet@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--light {
      background: url("../img/lighting-engineering-tablet@2x.png") 0 0 / cover, #30313a;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1b2d37;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 65px;

    h2 {
      width: 613px;
      font-size: 28px;
      line-height: 39px;
      margin-top: 50px;
      margin-left: 10px;
      margin-bottom: 11px;
    }
  }

  .offer__item {
    width: 100%;
    height: 256px;
    position: relative;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 19px;
    padding-left: 35px;
    padding-right: 125px;

    &::after {
      content: "";
      display: block;
      width: 63px;
      height: 63px;
      z-index: 5;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url("../img/icon-arrow.svg") no-repeat center, $main-blue;
    }

    &:hover,
    &:focus {
      &::after {
        width: 163px;
      }
    }
  }

  .offer__item--produce {
    background: url("../img/produce-boards-mobile@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  .offer__item--installation {
    padding-right: 85px;
    background: url("../img/installation-boards-mobile@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  .offer__item--light {
    padding-top: 30px;
    padding-right: 85px;
    background: url("../img/lighting-engineering-mobile@1x.png") no-repeat 0 0 / cover, #30313a;
  }

  @media (min-resolution: 2dppx) {
    .offer__item--produce {
      background: url("../img/produce-boards-mobile@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--installation {
      background: url("../img/installation-boards-mobile@2x.png") 0 0 / cover, #30313a;
    }

    .offer__item--light {
      background: url("../img/lighting-engineering-mobile@2x.png") 0 0 / cover, #30313a;
    }
  }
}
